@import '../../CssReset/variables';

.product-card {
  padding: 24px;
  padding-top: 32px;
  grid-column: span 6;
  height: 507px;
  border: 1px solid $gray-elements;
  background: $gray-white;
  display: flex;
  flex-direction: column;

  &__image {
    max-width: 100%;
    width: 145px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  &__title {
    color: $gray-primary;
    line-height: 21px;
    margin-top: 24px;
  }

  &__bottom-wrapper {
    margin-top: auto;
  }

  &__prices-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price {
    color: $gray-primary;
    font-family: Mont-Bold, Courier, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
  }

  &__discount-price {
    color: $gray-secondary;
    font-family: Mont, Courier, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: line-through;
  }

  &__specifications {
    border-top: 1px solid $gray-elements;
    margin-top: 8px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__specification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Mont-SemiBold, Courier, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }

  &__specification-name {
    color: $gray-secondary;
  }

  &__specification-value {
    color: $gray-primary;
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__add-to-cart {
    width: 176px;
    height: 40px;
    background-color: $gray-primary;
    border: 1px solid transparent;
    color: $gray-white;
    text-align: center;
    font-family: Mont-SemiBold, Courier, sans-serif;
    font-weight: 600;
    line-height: 21px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 13px 0 #17203142;
    }

    &--active {
      color: $light-green;
      background-color: $gray-white;
      border-color: $gray-elements;

      &:hover {
        box-shadow: 0 0 0 0;
      }
    }
  }

  &__add-to-fav {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $gray-icons-placeholders;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: $gray-primary;
    }

    &--active {
      border-color: $gray-elements;
    }
  }
}
