@import '../../CssReset/variables';

.header {
  padding-left: 24px;
  background: $gray-white;
  box-shadow: 0 1px 0 0 $gray-elements;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__actions-block {
    display: flex;
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: $gray-white;
    box-shadow: -1px 0 0 0 $gray-elements;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
