@import '../../CssReset/variables';

.header {
  padding-left: 24px;
  background: $gray-white;
  box-shadow: 0 1px 0 0 $gray-elements;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper-right {
    display: flex;
    align-items: center;
    gap: 65px;
  }

  &__logo {
    transition: filter 0.1s ease-in-out;

    &:hover {
      filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.5));
    }
  }

  &__actions-block {
    display: flex;
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: $gray-white;
    box-shadow: -1px 0 0 0 $gray-elements;
    outline: 0;
    border: 0;
    cursor: pointer;
    position: relative;
  }

  &__input-block {
    position: relative;
  }

  &__input {
    font-family: Mont-SemiBold, sans-serif;
    font-size: 14px;
    color: $gray-primary;
    font-weight: 600;
    height: 100%;
    padding: 23px 64px 23px 24px;
    background: transparent;
    box-shadow: -1px 0 0 0 #E2E6E9;
    width: 327px;
    border: 0;
    outline: 0;

    &::placeholder {
      font-family: inherit;
      color: $gray-icons-placeholders;
      font-weight: 600;
    }
  }

  &__input-icon {
    top: 24px;
    right: 24px;
    position: absolute;
    cursor: pointer;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
    }

    &--active {
      color: $gray-primary;

      &:hover {
        box-shadow: 0 0 0 0;
      }

      &::after {
        content: '';
        display: block;
        width: calc(100% + 1px);
        height: 3px;
        background: $gray-primary;
        position: absolute;
        bottom: 0;
        left: -1px;
        z-index: 2;
      }
    }
  }

  &__counter {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $deep-red;
    position: absolute;
    top: 18px;
    right: 18px;
    color: $gray-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 600;
    z-index: 2;
  }
}
