.header {
  padding-left: 24px;
  background: var(--gray-white, #FFF);
  box-shadow: 0 1px 0 0 #E2E6E9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__action-button {
    width: 64px;
    height: 64px;
    background: #FFF;
    box-shadow: -1px 0 0 0 #E2E6E9;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
