@import '../../CssReset/variables';

.nav {
  display: flex;
  align-items: center;
  gap: 64px;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 64px;
    list-style-type: none;
    padding-left: 0;
  }

  &__link {
    display: block;
    color: $gray-secondary;
    font-family: Mont-Bold, Courier, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 65px;
    position: relative;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $gray-primary;
    }

    &--active {
      color: $gray-primary;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: $gray-primary;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
